
<div class="website-category-page">

	<fieldset class="left">
		<legend> Category </legend>
		
		<table id="dt_website_categories" ></table>
	</fieldset>

	<fieldset class="right">
		<legend> Nouvelle Website Category </legend>

		<div class="informations-website-category-new">
			
			<fieldset>

				<legend>Informations</legend>

				<label for="category-select" class="label_form">Select a category : </label>
				<select id="category-select" name="category-select"></select>

				<br/><br/>

				<label for="website-select" class="label_form">Select a website : </label>
				<select id="website-select" name="website-select"></select>

				<br/><br/>

				<label for="website-category" class="label_form">Website Category (nom) : </label>
				<input type="text" id="website-category" name="website-category"/>

				<br/><br/>

				<label for="url" class="label_form">Url : </label>
				<input id="url" name="url" type="text" />

				<br/><br/>

				<label for="use-url" class="label_form">Use Url to scrap : </label>
				<input type="checkbox" id="use-url" name="use-url"/>

				<br/><br/>

				<label for="url-pagination" class="label_form">Url Pagination : </label>
				<input id="url-pagination" name="url-pagination" type="text" />

				<br/><br/>

				<label for="use-pagination" class="label_form">Use Url Pagination to scrap : </label>
				<input type="checkbox" id="use-pagination" name="use-pagination"/>

			</fieldset>

		</div>

		<div class="action-website-category-new">

			<fieldset>

				<legend>Actions</legend>

				<input type="button" id="create_website_category" class='create' value="Ajouter"/>
				<input type="button" id="reset_website_category" class='reset' value="Reset"/>

			</fieldset>
		</div>
		
	</fieldset>	

</div>