@media all and (min-width: 1400px)
{
	content div.informations div.collaborateurs
	{
		background-color: #FFFFFF;
		color: #000000;
		padding: 5px;
		text-align: left;
		border: 1px #D9D6D7 solid;
		margin-bottom: 5px;
	}

	content div.informations div.collaborateurs div.title
	{
		height: 20px;
		font-weight: bold;
	}

	content div.informations div.collaborateurs div.data
	{
	}

	content div.informations div.collaborateurs div.link
	{
		height: 20px;
	}

	content div.informations div.collaborateurs div.link a
	{
		text-decoration: none;
		color: #000000;
	}
}

@media all and (device-width: 320px)
{
    content div.informations div.collaborateurs
	{
		display: none;
	}

	content div.informations div.collaborateurs div.title
	{
		display: none;
	}

	content div.informations div.collaborateurs div.data
	{
	}

	content div.informations div.collaborateurs div.link
	{
		display: none;
	}

	content div.informations div.collaborateurs div.link a
	{
		display: none;
	}
}