content
{
	display: block;
	margin: auto;
	text-align: center;
}

@media screen and (min-width: 1400px)
{
	content div.options, content div.articles, content div.informations
	{
		vertical-align: top;
		margin: 5px;
	}

	content div.options
	{
		display: inline-block;
		width: 15%;
		//background-color: red;
	}

	content div.articles
	{
		display: inline-block;
		width: 60%;
		height: 950px;
		//background-color: blue;
		overflow-y:scroll;
		overflow-x:hidden;
	}

	content div.informations
	{
		display: inline-block;
		width: 15%;
		//background-color: green;
	}
}

@media handheld and (device-width: 320px)
{
	content div.options
	{
		visibility: hidden;
	}

	content div.articles
	{
		width: 100%;
		margin: auto;
		text-align: center;
	}

	content div.informations
	{
		visibility: hidden;
	}
}