content .container-copyright
{
	background-color: #FFFFFF;
	color: #5C5C5C;
	padding: 5px;
	text-align: left;
	margin-top: 5px;
	padding-left: 25px;
}

content .container-copyright label
{
	font-size: 10px;
	font-weight: bold;
}