header
{
    background-color: #000000;
    margin-left: 0px !important;
}

header .logo
{
    display: block;
    margin-left: 0px !important;
    width: 180px;
    height: 50px;
    background: url("../image/icone.png") 0 0 no-repeat;
    background-position: -420px -10px;
}

header .facebook
{
    display: block;
    width: 50px;
    height: 50px;
    background: url("../image/icone.png") 0 0 no-repeat;
    background-position: -656px -13px;
}

header .facebook:hover
{
    background-color: #000000 !important;
}

header .instagram
{
    display: block;
    width: 50px;
    height: 50px;
    background: url("../image/icone.png") 0 0 no-repeat;
    background-position: -709px -13px;
}

header .instagram:hover
{
    background-color: #000000 !important;
}

header .twitter
{
    display: block;
    width: 50px;
    height: 50px;
    background: url("../image/icone.png") 0 0 no-repeat;
    background-position: -604px -13px;
}

header .twitter:hover
{
    background-color: #000000 !important;
}

.nav-link
{
    background-color: #000;
    color: #FFF;
    border: 1px solid #eee;
}

.nav-link:hover
{
    background-color: #FFF;
    color: #000;
}

.dropdown-menu
{
    left: -110px !important;
}

.dropdown-item
{
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
    padding: 3px;
}