@media all and (min-width: 1400px)
{
	content div.informations div.legale
	{
		background-color: #FFFFFF;
		color: #000000;
		padding: 5px;
		text-align: left;
		margin-top: 5px;
		margin-bottom: 5px;
	}

	content div.informations div.legale a
	{
		display: block;
		text-decoration: none;
		font-size: 10px;
	}
}

@media all and (device-width: 320px)
{
	content div.informations div.legale
	{
		display: none;
	}

	content div.informations div.legale a
	{
		display: none;
	}
}