content .container-legale
{
	background-color: #FFFFFF;
	color: #000000;
	text-align: left;
	margin-top: 5px;
	margin-bottom: 5px;

	padding-left: 25px;
}

content .container-legale a
{
	display: block;
	text-decoration: none;
	font-size: 10px;
}