/* Searched */

content .result-searching
{
	position: relative;
	vertical-align: top;
}

content .result-searching article
{
	background-color: #FFFFFF;
	margin: 0.5%;
	margin-bottom: 0.5%;
	border: 1px #D9D6D7 solid;
}

content .result-searching article .site
{
	margin-top: 5px;
}

content .result-searching article .site .logo_site,
content .result-searching article .site .informations_site,
content .result-searching article .site .social
{
}

content .result-searching article .site .logo_site img
{
	max-height: 30px;
}

content .result-searching article .site .social
{
	width: 30px;
	margin-left: 96px;
}

content .result-searching article .site .social a
{
    background: url("../image/icone.png") 0 0 no-repeat;
    background-position: -204px -21px;
}

content .result-searching article .site .informations_site
{
	max-height: 30px;
}

content .result-searching article .site .informations_site .title
{
	color: #000000;
	font-weight: bold;
	text-align: left;
	text-transform: uppercase;
}

content .result-searching article .site .informations_site .button .subscription
{
    background: url("../image/icone.png") 0 0 no-repeat;
    background-position: -236px -26px;
}

content .result-searching article .site .informations_site .button .unsubscription
{
    background: url("../image/icone.png") 0 0 no-repeat;
    background-position: -308px -26px;
}

content .result-searching article .data h1.title
{
	text-transform: uppercase;
}

content .result-searching article .data h1.title a
{
	text-decoration: none;
	font-weight: bold;
	color: #000000;
}

content .result-searching article .data p.description
{
	font-size: 12px;
	color: #000000;
	margin-top: 5px;
	margin-bottom: 5px;
}

span.pagination-search
{
	color: purple;
	text-decoration: underline;
	cursor: pointer;
}

/*content .result-searching
{
	vertical-align: top;
}

content .result-searching article
{
	background-color: #FFFFFF;
	display: inline-block;
	vertical-align: top;
	width: 260px;
	margin: 10px;
	border: 1px #D9D6D7 solid;
}

content .result-searching article .site
{
	margin-top: 5px;
}

content .result-searching article .site .logo_site,
content .result-searching article .site .informations_site,
content .result-searching article .site .social
{
}

content .result-searching article .site .logo_site img
{
	max-height: 30px;
}

content .result-searching article .site .social
{
	width: 30px;
	margin-left: 96px;
}

content .result-searching article .site .social a
{
	
	display: block;
    width: 30px;
    height: 30px;
    background: url("../image/icone.png") 0 0 no-repeat;
    background-position: -204px -21px;
}

content .result-searching article .site .informations_site
{
	max-height: 30px;
}

content .result-searching article .site .informations_site .title,
content .result-searching article .site .informations_site .button
{
	display: block;
	width: 100%;
	vertical-align: middle;
}

content .result-searching article .site .informations_site .title
{
	color: #000000;
	font-weight: bold;
	text-align: left;
	text-transform: uppercase;
	//font-size: 12px;
}

content .result-searching article .site .informations_site .button .subscription
{
	display: block;
    width: 70px;
    height: 21px;
    background: url("../image/icone.png") 0 0 no-repeat;
    background-position: -236px -26px;
}

content .result-searching article .site .informations_site .button .unsubscription
{
	display: block;
    width: 70px;
    height: 21px;
    background: url("../image/icone.png") 0 0 no-repeat;
    background-position: -308px -26px;
}

content .result-searching article .image, .result-searching article .image a, .result-searching article .image a img
{
	max-height: 100%;
	max-width: 100%;
}

content .result-searching article .data h2.title
{
	text-align: center;
	width: 80%;
	margin: auto;
	text-transform: uppercase;
}

content .result-searching article .data h2.title a
{
	text-decoration: none;
	font-weight: bold;
	color: #000000;
}

content .result-searching article .data p.description
{
	display: block
	text-align: left;
	font-size: 12px;
	color: #000000;
	margin-top: 5px;
	margin-bottom: 5px;
}

span.pagination-search
{
	color: purple;
	text-decoration: underline;
	cursor: pointer;
}*/