
<div class="website-subscription-page">

	<fieldset class="left">
		<legend> Website Subscriptions </legend>
		
		<table id="dt_website_subscriptions" ></table>
	</fieldset>

	<fieldset class="right">
		<legend> Nouvelle Website Subscription </legend>

		<div class="informations-website-subscription-new">
			
			<fieldset>

				<legend>Informations</legend>

				<label for="user-select" class="label_form">User (nom) : </label>
				<select id="user-select" name="user-select"></select>

				<br/><br/>

				<label for="website-select" class="label_form">Website (nom) : </label>
				<select id="website-select" name="website-select"></select>

			</fieldset>

		</div>

		<div class="action-website-subscription-new">

			<fieldset>

				<legend>Actions</legend>

				<input type="button" id="create_website_subscription" class='create' value="Ajouter"/>
				<input type="button" id="reset_website_subscription" class='reset' value="Reset"/>

			</fieldset>
		</div>
		
	</fieldset>	

</div>