.main-menu {
	position: absolute;
	right: 30px;
	top: 4px;
	width: 115px;
}
.main-menu .header {
	background-color: #0290BF;
	color: white;
	height: 38px;
	line-height: 38px;
	width: 120px;
	text-align: center;
}
.main-menu .header:hover {
	background-color: #5DCBF0;
	cursor: pointer;
}
.main-menu .content {
	display: none;
	background-color: #EDFBFF;
	width: 250px;
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	position: relative;
	right: 120px;
}
.main-menu:hover .content {
	display: inline-block;
}
.main-menu .content li {
	height: 40px;
	line-height: 40px;
	border-bottom: solid 1px #ccc;
	padding-left: 15px;
}
.main-menu .content li:hover {
	background-color: #64CBED;
	cursor: pointer;
}