
<div class="type-item-page">

	<fieldset class="left">
		<legend> Type Items </legend>
		
		<table id="dt_type_items" ></table>
	</fieldset>

	<fieldset class="right">
		<legend> Nouvelle Type Item </legend>

		<div class="informations-type-item-new">
			
			<fieldset>

				<legend>Informations</legend>

				<label for="type" class="label_form">Type item (nom) : </label>
				<input type="text" id="type" name="type"/>

			</fieldset>

		</div>

		<div class="action-type-item-new">

			<fieldset>

				<legend>Actions</legend>

				<input type="button" id="create_type_item" class='create' value="Ajouter"/>
				<input type="button" id="reset_type_item" class='reset' value="Reset"/>

			</fieldset>
		</div>
		
	</fieldset>	

</div>