<header>
	<div class="left">Hello %%name%%, ton email est %%login%%</div>
	<div class="right"><input type="button" id="admin_logout" value="Logout"></div>
</header>

<nav>
	<ul>
		<li>
			<a href="/admin/modules/category">Category</a>
		</li>
		<li>
			<a href="/admin/modules/category_preference">Category Preferences</a>
		</li>
		<li>
			<a href="/admin/modules/collaboration">Collaborations</a>
		</li>
		<li>
			<a href="/admin/modules/item">Items</a>
		</li>
		<li>
			<a href="/admin/modules/static_page">Static Pages</a>
		</li>
		<li>
			<a href="/admin/modules/system_preference">System Preferences</a>
		</li>
		<li>
			<a href="/admin/modules/type_item">Type Items</a>
		</li>
		<li>
			<a href="/admin/modules/user">Users</a>
		</li>
		<li>
			<a href="/admin/modules/website">Website</a>
		</li>
		<li>
			<a href="/admin/modules/website_category">Website Category</a>
		</li>
		<li>
			<a href="/admin/modules/website_subscription">Website Subscriptions</a>
		</li>
	</ul>
</nav>
