
<div class="collaboration-page">

	<fieldset class="left">
		<legend> Collaborations </legend>
		
		<table id="dt_collaborations" ></table>
	</fieldset>

	<fieldset class="right">
		<legend> Nouvelle Collaboration </legend>

		<div class="informations-collaboration-new">
			
			<fieldset>

				<legend>Informations</legend>

				<label for="collaboration" class="label_form">Collaboration (nom) : </label>
				<input type="text" id="collaboration" name="collaboration"/>

				<br/><br/>

				<label for="url" class="label_form">Url : </label>
				<input type="text" id="url" name="url"/>

				<br/><br/>

				<label for="image" class="label_form">Image : </label>
				<input id="image" name="image" type="text" disabled/>
				<br/>
				<div id="multiplefileuploader_logo">Upload</div>

			</fieldset>

		</div>

		<div class="action-collaboration-new">

			<fieldset>

				<legend>Actions</legend>

				<input type="button" id="create_collaboration" class='create' value="Ajouter"/>
				<input type="button" id="reset_collaboration" class='reset' value="Reset"/>

			</fieldset>
		</div>
		
	</fieldset>	

</div>