{<br/>
<tab>   "container" : " <input type='text' id='container'/> ",</tab><br/>
<tab>   "item" : {</tab><br/>
<tab><tab>        "container" : " <input type='text' id='item-container'/> ",</tab></tab><br/>
<tab><tab>        "url" : {</tab></tab><br/>
<tab><tab><tab>            "html" : " <input type='text' id='item-url-html'/> ",</tab></tab></tab><br/>
<tab><tab><tab>            "element" : " <input type='text' id='item-url-element'/> "</tab></tab></tab><br/>
<tab><tab>            },</tab></tab><br/>
<tab><tab>        "title" : {</tab></tab><br/>
<tab><tab><tab>            "html" : " <input type='text' id='item-title-html'/> ",</tab></tab></tab><br/>
<tab><tab><tab>            "element" : " <input type='text' id='item-title-element'/> "</tab></tab></tab><br/>
<tab><tab>            },</tab></tab><br/>
<tab><tab>        "width_image" : {</tab></tab><br/>
<tab><tab><tab>            "html" : " <input type='text' id='item-width_image-html'/> ",</tab></tab></tab><br/>
<tab><tab><tab>            "element" : " <input type='text' id='item-width_image-element'/> "</tab></tab></tab><br/>
<tab><tab>            },</tab></tab><br/>
<tab><tab>        "height_image" : {</tab></tab><br/>
<tab><tab><tab>            "html" : " <input type='text' id='item-height_image-html'/> ",</tab></tab></tab><br/>
<tab><tab><tab>            "element" : " <input type='text' id='item-height_image-element'/> "</tab></tab></tab><br/>
<tab><tab>            },</tab></tab><br/>
<tab><tab>        "image" : {</tab></tab><br/>
<tab><tab><tab>            "html" : " <input type='text' id='item-image-html'/> ",</tab></tab></tab><br/>
<tab><tab><tab>            "element" : " <input type='text' id='item-image-element'/> "</tab></tab></tab><br/>
<tab><tab>            },</tab></tab><br/>
<tab><tab>        "alt_image" : {</tab></tab><br/>
<tab><tab><tab>            "html" : " <input type='text' id='item-alt_image-html'/> ",</tab></tab></tab><br/>
<tab><tab><tab>            "element" : " <input type='text' id='item-alt_image-element'/> "</tab></tab></tab><br/>
<tab><tab>            },</tab></tab><br/>
<tab><tab>        "description" : {</tab></tab><br/>
<tab><tab><tab>            "html" : " <input type='text' id='item-description-html'/> ",</tab></tab></tab><br/>
<tab><tab><tab>            "element" : " <input type='text' id='item-description-element'/> "</tab></tab></tab><br/>
<tab><tab>            },</tab></tab><br/>
<tab><tab>        "date_publication" : {</tab></tab><br/>
<tab><tab><tab>            "html" : " <input type='text' id='item-date_publication-html'/> ",</tab></tab></tab><br/>
<tab><tab><tab>            "element" : " <input type='text' id='item-date_publication-element'/> "</tab></tab></tab><br/>
<tab><tab>            },</tab></tab><br/>
<tab><tab>        "author" : {</tab></tab><br/>
<tab><tab><tab>            "html" : " <input type='text' id='item-author-html'/> ",</tab></tab></tab><br/>
<tab><tab><tab>            "element" : " <input type='text' id='item-author-element'/> "</tab></tab></tab><br/>
<tab><tab>            }</tab></tab><br/>
<tab>    }</tab><br/>
}