{
    "container" : {
        "html" : "%%container-html%%",
        "item" : {
            "html" : "%%item-html%%",
            "url" : {
                "html" : "%%item-url-html%%",
                "counter" : "%%item-url-counter%%",
                "element" : "%%item-url-element%%"
                },
            "title" : {
                "html" : "%%item-title-html%%",
                "counter" : "%%item-title-counter%%",
                "element" : "%%item-title-element%%"
                },
            "width_image" : {
                "html" : "%%item-width_image-html%%",
                "counter" : "%%item-width_image-counter%%",
                "element" : "%%item-width_image-element%%"
                },
            "height_image" : {
                "html" : "%%item-height_image-html%%",
                "counter" : "%%item-height_image-counter%%",
                "element" : "%%item-height_image-element%%"
                },
            "image" : {
                "html" : "%%item-image-html%%",
                "counter" : "%%item-image-counter%%",
                "element" : "%%item-image-element%%"
                },
            "alt_image" : {
                "html" : "%%item-alt_image-html%%",
                "counter" : "%%item-alt_image-counter%%",
                "element" : "%%item-alt_image-element%%"
                },
            "description" : {
                "html" : "%%item-description-html%%",
                "counter" : "%%item-description-counter%%",
                "element" : "%%item-description-element%%"
                },
            "date_publication" : {
                "html" : "%%item-date_publication-html%%",
                "counter" : "%%item-date_publication-counter%%",
                "element" : "%%item-date_publication-element%%"
                },
            "author" : {
                "html" : "%%item-author-html%%",
                "counter" : "%%item-author-counter%%",
                "element" : "%%item-author-element%%"
                }
        },
        "item_inner" : {
            "date_publication" : {
                "html" : "%%item_inner-date_publication-html%%",
                "counter" : "%%item_inner-date_publication-counter%%",
                "element" : "%%item_inner-date_publication-element%%",
                "format" : "%%item_inner-date_publication-format%%",
                "function" : {
                        "type" : "%%item_inner-date_publication-function-type%%",
                        "separator" : "%%item_inner-date_publication-function-separator%%",
                        "counter" : "%%item_inner-date_publication-function-counter%%"
                    }
                }
        }
    }
}