{<br/>
<tab>   "container" : {"</tab><br/> 
<tab><tab>   "html" : " <input type='text' id='container-html'/> ",</tab></tab><br/>
<tab><tab>   "item" : {</tab></tab><br/>
<tab><tab><tab>        "html" : " <input type='text' id='item-html'/> ",</tab></tab></tab><br/>
<tab><tab><tab>        "url" : {</tab></tab></tab><br/>
<tab><tab><tab><tab>            "html" : " <input type='text' id='item-url-html'/> ",</tab></tab></tab></tab><br/>
<tab><tab><tab><tab>            "counter" : " <input type='text' id='item-url-counter'/> ",</tab></tab></tab></tab><br/>
<tab><tab><tab><tab>            "element" : " <input type='text' id='item-url-element'/> "</tab></tab></tab></tab><br/>
<tab><tab><tab>            },</tab></tab></tab><br/>
<tab><tab><tab>        "title" : {</tab></tab></tab><br/>
<tab><tab><tab><tab>            "html" : " <input type='text' id='item-title-html'/> ",</tab></tab></tab></tab><br/>
<tab><tab><tab><tab>            "counter" : " <input type='text' id='item-title-counter'/> ",</tab></tab></tab></tab><br/>
<tab><tab><tab><tab>            "element" : " <input type='text' id='item-title-element'/> "</tab></tab></tab></tab><br/>
<tab><tab><tab>            },</tab></tab></tab><br/>
<tab><tab><tab>        "width_image" : {</tab></tab></tab><br/>
<tab><tab><tab><tab>            "html" : " <input type='text' id='item-width_image-html'/> ",</tab></tab></tab></tab><br/>
<tab><tab><tab><tab>            "counter" : " <input type='text' id='item-width_image-counter'/> ",</tab></tab></tab></tab><br/>
<tab><tab><tab><tab>            "element" : " <input type='text' id='item-width_image-element'/> "</tab></tab></tab></tab><br/>
<tab><tab><tab>            },</tab></tab></tab><br/>
<tab><tab><tab>        "height_image" : {</tab></tab></tab><br/>
<tab><tab><tab><tab>            "html" : " <input type='text' id='item-height_image-html'/> ",</tab></tab></tab></tab><br/>
<tab><tab><tab><tab>            "counter" : " <input type='text' id='item-height_image-counter'/> ",</tab></tab></tab></tab><br/>
<tab><tab><tab><tab>            "element" : " <input type='text' id='item-height_image-element'/> "</tab></tab></tab></tab><br/>
<tab><tab><tab>            },</tab></tab></tab><br/>
<tab><tab><tab>        "image" : {</tab></tab></tab><br/>
<tab><tab><tab><tab>            "html" : " <input type='text' id='item-image-html'/> ",</tab></tab></tab></tab><br/>
<tab><tab><tab><tab>            "counter" : " <input type='text' id='item-image-counter'/> ",</tab></tab></tab></tab><br/>
<tab><tab><tab><tab>            "element" : " <input type='text' id='item-image-element'/> "</tab></tab></tab></tab><br/>
<tab><tab><tab>            },</tab></tab></tab><br/>
<tab><tab><tab>        "alt_image" : {</tab></tab></tab><br/>
<tab><tab><tab><tab>            "html" : " <input type='text' id='item-alt_image-html'/> ",</tab></tab></tab></tab><br/>
<tab><tab><tab><tab>            "counter" : " <input type='text' id='item-alt_image-counter'/> ",</tab></tab></tab></tab><br/>
<tab><tab><tab><tab>            "element" : " <input type='text' id='item-alt_image-element'/> "</tab></tab></tab></tab><br/>
<tab><tab><tab>            },</tab></tab></tab><br/>
<tab><tab><tab>        "description" : {</tab></tab></tab><br/>
<tab><tab><tab><tab>            "html" : " <input type='text' id='item-description-html'/> ",</tab></tab></tab></tab><br/>
<tab><tab><tab><tab>            "counter" : " <input type='text' id='item-description-counter'/> ",</tab></tab></tab></tab><br/>
<tab><tab><tab><tab>            "element" : " <input type='text' id='item-description-element'/> "</tab></tab></tab></tab><br/>
<tab><tab><tab>            },</tab></tab></tab><br/>
<tab><tab><tab>        "date_publication" : {</tab></tab></tab><br/>
<tab><tab><tab><tab>            "html" : " <input type='text' id='item-date_publication-html'/> ",</tab></tab></tab></tab><br/>
<tab><tab><tab><tab>            "counter" : " <input type='text' id='item-date_publication-counter'/> ",</tab></tab></tab></tab><br/>
<tab><tab><tab><tab>            "element" : " <input type='text' id='item-date_publication-element'/> "</tab></tab></tab></tab><br/>
<tab><tab><tab>            },</tab></tab></tab><br/>
<tab><tab><tab>        "author" : {</tab></tab><br/>
<tab><tab><tab><tab>            "html" : " <input type='text' id='item-author-html'/> ",</tab></tab></tab></tab><br/>
<tab><tab><tab><tab>            "counter" : " <input type='text' id='item-author-counter'/> ",</tab></tab></tab></tab><br/>
<tab><tab><tab><tab>            "element" : " <input type='text' id='item-author-element'/> "</tab></tab></tab></tab><br/>
<tab><tab><tab>            }</tab></tab></tab><br/>
<tab><tab>    },</tab></tab><br/>
<tab><tab>   "item_inner" : {</tab></tab><br/>
<tab><tab><tab>        "date_publication" : {</tab></tab></tab><br/>
<tab><tab><tab><tab>		 "html" : " <input type='text' id='item_inner-date_publication-html'/> ",</tab></tab></tab></tab><br/>
<tab><tab><tab><tab>		 "counter" : " <input type='text' id='item_inner-date_publication-counter'/> ",</tab></tab></tab></tab><br/>
<tab><tab><tab><tab>         "element" : " <input type='text' id='item_inner-date_publication-element'/> ",</tab></tab></tab></tab><br/>
<tab><tab><tab><tab>         "format" : " <input type='text' id='item_inner-date_publication-format'/> ",</tab></tab></tab></tab><br/>
<tab><tab><tab><tab>			"function" : {</tab></tab></tab></tab><br/>
<tab><tab><tab><tab><tab><tab>		"type" : " <input type='text' id='item_inner-date_publication-function-type'/> ",</tab></tab></tab></tab></tab></tab><br/>
<tab><tab><tab><tab><tab><tab>		"separator" : " <input type='text' id='item_inner-date_publication-function-separator'/> ",</tab></tab></tab></tab></tab></tab><br/>
<tab><tab><tab><tab><tab><tab>		"counter" : " <input type='text' id='item_inner-date_publication-function-counter'/> "</tab></tab></tab></tab></tab></tab><br/>
<tab><tab><tab><tab>		            }</tab></tab></tab></tab><br/>
<tab><tab><tab>            }</tab></tab></tab><br/>
<tab><tab>    }</tab></tab><br/>
<tab>    }</tab><br/>
}