{
    "container" : "%%container%%",
    "item" : {
        "container" : "%%item-container%%",
        "url" : {
            "html" : "%%item-url-html%%",
            "element" : "%%item-url-element%%"
            },
        "title" : {
            "html" : "%%item-title-html%%",
            "element" : "%%item-title-element%%"
            },
        "width_image" : {
            "html" : "%%item-width_image-html%%",
            "element" : "%%item-width_image-element%%"
            },
        "height_image" : {
            "html" : "%%item-height_image-html%%",
            "element" : "%%item-height_image-element%%"
            },
        "image" : {
            "html" : "%%item-image-html%%",
            "element" : "%%item-image-element%%"
            },
        "alt_image" : {
            "html" : "%%item-alt_image-html%%",
            "element" : "%%item-alt_image-element%%"
            },
        "description" : {
            "html" : "%%item-description-html%%",
            "element" : "%%item-description-element%%"
            },
        "date_publication" : {
            "html" : "%%item-date_publication-html%%",
            "element" : "%%item-date_publication-element%%"
            },
        "author" : {
            "html" : "%%item-author-html%%",
            "element" : "%%item-author-element%%"
            }
    }
}