
<div class="category-page">

	<fieldset class="left">
		<legend> Categories </legend>
		
		<table id="dt_categories" ></table>
	</fieldset>

	<fieldset class="right">
		<legend> Nouvelle Category </legend>

		<div class="informations-category-new">
			
			<fieldset>

				<legend>Informations</legend>

				<label for="category" class="label_form">Category (nom) : </label>
				<input type="text" id="category" name="category"/>

			</fieldset>

		</div>

		<div class="action-category-new">

			<fieldset>

				<legend>Actions</legend>

				<input type="button" id="create_category" class='create' value="Ajouter"/>
				<input type="button" id="reset_category" class='reset' value="Reset"/>

			</fieldset>
		</div>
		
	</fieldset>	

</div>