
<div class="user-page">

	<fieldset class="left">
		<legend> Users </legend>
		
		<table id="dt_users" ></table>
	</fieldset>

	<fieldset class="right">
		<legend> Nouvelle User </legend>

		<div class="informations-user-new">
			
			<fieldset>

				<legend>Informations</legend>

				<label for="name" class="label_form">Name (nom) : </label>
				<input type="text" id="name" name="name"/>

				<br/><br/>

				<label for="login" class="label_form">Login (email) : </label>
				<input type="text" id="login" name="login"/>

				<br/><br/>

				<label for="pass" class="label_form">Pass (mot de passe) : </label>
				<input type="text" id="pass" name="pass"/>

				<br/><br/>

				<label for="valid" class="label_form">Valid : </label>
				<input type="checkbox" id="valid" name="valid"/>

			</fieldset>

		</div>

		<div class="action-user-new">

			<fieldset>

				<legend>Actions</legend>

				<input type="button" id="create_user" class='create' value="Ajouter"/>
				<input type="button" id="reset_user" class='reset' value="Reset"/>

			</fieldset>
		</div>
		
	</fieldset>	

</div>